{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



<div class="page-header sm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Page Header Wrapper -->
				<div class="page-header-wrapper">
					<!-- Title & Sub Title -->
					<h5 class="title">Encuestas</h5>
				</div><!-- Page Header Wrapper -->
			</div><!-- Coloumn -->
		</div><!-- Row -->
	</div><!-- Container -->
</div>
<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<!-- Page Content -->
				<div class="col-md-9">
					{% if encuestas %}
					<ul class="row" >
						{% for e in encuestas%}
						<li class="col-xs-12 blog-list-wrap" >
					<!-- Blog Wrapper -->
						<div class="row blog-wrap">
							<!-- Blog Detail Wrapper -->
							<div class="col-sm-12">
								<div class="blog-details">
									<h4>{{e.titulo}}</h4>
									<ul class="blog-meta" >
										<li><i class="fa fa-calendar-o"></i>{{e.fecha}}</li>
									</ul><!-- Blog Meta -->
									<p>{{e.pregunta}}</p>
									<a class="btn" href="{% url 'Encuesta:detalle_encuesta' e.id %}">Realizar encuesta</a>
								<a class="btn" href="{% url 'Encuesta:encuesta_result' e.id %}">Ver Resultados</a>
								</div><!-- Blog Detail Wrapper -->
							</div><!-- Blog Detail Column -->
						</div><!-- Blog Wrapper -->
					<!-- Divider -->
					<hr class="md">
				</li><!-- Column -->

						{%endfor%}
						{% include 'pagination/pagination.html' %}
					</ul><!-- Row -->
					{% else%}
					<div role="alert" class="alert alert-danger"> 
						<strong>No hay encuestas cargadas</strong> 
					</div>
					{%endif%}
				</div><!-- Column -->

				<div class="col-md-3">
					<!-- aside -->
					<aside class="sidebar">
						
						<!-- Widget -->
						<div class="widget">
							<h5 class="widget-title">Areas<span></span></h5>
							<ul class="go-widget">
								{% for a in areas %}
								<li><a href="{% url 'Area:encuestaArea' a.id %}">{{a.nombre}}<span class="badge"></span></a></li>
								{% endfor %}
							</ul>
						</div><!-- Widget -->
					</aside><!-- aside -->	
				</div><!-- Column -->
			</div><!-- Row -->	
		</div><!-- Container -->
	</div><!-- Page Default -->
</div><!-- Page Main -->

{% endblock content %}

{% block extra_js%}

<script type="text/javascript">

</script>

{% endblock extra_js%}