{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="page-header sm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Page Header Wrapper -->
				<div class="page-header-wrapper">
					<!-- Title & Sub Title -->
					<h5 class="title">Novedades de {{area.nombre}}</h5>
				</div><!-- Page Header Wrapper -->
			</div><!-- Coloumn -->
		</div><!-- Row -->
	</div><!-- Container -->
</div>

<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<!-- Page Content -->
				<div class="col-md-9">
				{% if novedades %}
					<div class="grid" id="noticias" >
				{% for n in novedades%}
				{% if n.imagen_portada %}
                    <div class="grid-item" id="novedad{{n.pk}}">
							<!-- Blog Grid Wrapper -->
							<div class="blog-wrap">
								<!-- Blog Image Wrapper -->
								<div class="blog-img-wrap">
									<img src="{{n.imagen_portada.url}}" class="img-responsive" alt="Blog" width="600" height="220">
								</div><!-- Blog Wraper -->
								<!-- Blog Detail Wrapper -->
								<div class="blog-details">
									<h5>{{n.titulo}}</h5>
									<ul class="blog-meta">
										<li><i class="fa fa-calendar-o"></i>{{n.fecha_creacion}}</li>
										<li><a class="likes post-likes" id="{{n.pk}}" href="javascript: reload()"><i class="fa fa-thumbs-o-up"></i></a><span id="like-counter{{n.pk}}">{{n.likes}}</span></li>
									</ul><!-- Blog Meta -->
									<a class="btn" href="{% url 'Novedad:detalle_novedad' n.id %}">Leer mas</a>
								</div><!-- Blog Detail Wrapper -->
							</div><!-- Blog Wrapper -->
						</div>
				{% else%}
				<div class="grid-item" id="novedad{{n.pk}}">
							<!-- Blog Grid Wrapper -->
							<div class="blog-wrap">
								<!-- Blog Image Wrapper -->
								<!-- Blog Detail Wrapper -->
								<div class="blog-details">
									<h5><a href="blog-single-left.html">{{n.titulo}}</a></h5>
									<ul class="blog-meta">
										<li><i class="fa fa-calendar-o"></i>{{n.fecha_creacion}}</li>
										<li><a class="likes post-likes" id="{{n.pk}}" href="javascript: reload()"><i class="fa fa-thumbs-o-up"></i></a><span id="like-counter{{n.pk}}">{{n.likes}}</span></li>
									</ul><!-- Blog Meta -->
									<a class="btn" href="{% url 'Novedad:detalle_novedad' n.id %}">Leer mas</a>
								</div><!-- Blog Detail Wrapper -->
							</div><!-- Blog Wrapper -->
 				 </div>
				{% endif %}

               {%endfor%}
				
			</div><!-- Row -->
			{% else%}
                        <div role="alert" class="alert alert-danger"> 
						<strong>No hay novedades cargadas para este area</strong> 
					</div>
                    {%endif%}
		</div><!-- Column -->

		<div class="col-md-3">
					<!-- aside -->
					<aside class="sidebar">
						
						<!-- Widget -->
						<div class="widget">
							<h5 class="widget-title">Areas<span></span></h5>
							<ul class="go-widget">
								{% for a in areas %}
									<li><a href="{% url 'Area:novedadesArea' a.id %}">{{a.nombre}}<span class="badge"></span></a></li>
								{% endfor %}
							</ul>
						</div><!-- Widget -->
					</aside><!-- aside -->	

					<aside class="sidebar">
						
						<!-- Widget -->
						<div class="widget">
							<h5 class="widget-title">Sedes<span></span></h5>
							<ul class="go-widget">
								{% for s in sedes %}
									<li><a href="{% url 'Sede:novedadesSede' s.id %}">{{s.nombre}}<span class="badge"></span></a></li>
								{% endfor %}
							</ul>
						</div><!-- Widget -->

						<div class="widget">
							<h5 class="widget-title">Noticias Anteriores<span></span></h5>
							<ul class="thumbnail-widget">

								{% for a in anteriores %}
									<li>
									<div class="thumb-wrap">
									{% if a.imagen_portada %}
										<img alt="Thumb" class="img-responsive" src="{{a.imagen_portada.url}}" width="60" height="60">
									{% endif %}
									</div>
									<div class="thumb-content"><a href="{% url 'Novedad:detalle_novedad' a.id %}">{{a.titulo}}</a><span>{{a.fecha_creacion}}</span></div>	
									</li>
								{% endfor %}
								
							</ul><!-- Thumbnail Widget -->
						</div>


					</aside><!-- aside -->	
				</div><!-- Column -->
	</div><!-- Row -->	
		</div><!-- Container -->
	</div><!-- Page Default -->
</div><!-- Page Main -->

{% endblock content %}

{% block extra_js%}

<script type="text/javascript">

$('#noticias').on('click','.post-likes', function(){
        var id = $(this).attr("id");
        $.ajax({
                data:{'novedad_id':id},
                url : "{% url 'Novedad:like_count_blog' %}",
                type: 'get',
                cache: false,
                success: function(data){
                    $('#like-counter'+id).text(data);
                                         
                }
            });
      });
function reload(){
			var id = $(this).attr("id");
            var container = document.getElementById("like-counter"+id);
            var content = container.innerHTML;
            container.innerHTML= content;
        }



        $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});
</script>

{% endblock extra_js%}
