{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!-- Page Header -->
<div class="page-header sm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Page Header Wrapper -->
				<div class="page-header-wrapper">
					<!-- Title & Sub Title -->
					<h5 class="title">Documentos</h5>
				</div><!-- Page Header Wrapper -->
			</div><!-- Coloumn -->
		</div><!-- Row -->
	</div><!-- Container -->
</div>

<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<!-- Page Content -->
				
				<div class="col-md-9">
				{% if Documento %}
					<ul class="row">
				{% for e in Documento%}
				<li class="col-xs-12 event-list-wrap">
					<!-- Blog Wrapper -->
						<div class="row">
							<!-- Blog Detail Wrapper -->
							<div class="col-sm-12">
									<div class="event-details">
										<h5>{{e.titulo}}</h5>
										<ul class="events-meta">
											<li><i class="fa fa-calendar-o"></i>{{e.fecha_creacion}}</li>
										</ul><!-- Event Meta -->
										<p>{{e.descripcion}}</p>
										

										{% if e.pdf%}

										<a class="btn" target="_blank" href="{{e.pdf.url}}">Ver Documento</a>
										{% endif%}
										{% if e.url%}

										<a class="btn" target="_blank" href="{{e.url}}">Ver Documento</a>
										{% endif%}
									</div><!-- Event Meta -->
								</div>	<!-- Event details -->
						</div><!-- Blog Wrapper -->
					<!-- Divider -->
					<hr class="md">
				</li><!-- Column -->
               {%endfor%}
               {% include 'pagination/pagination.html' %}
				
			</ul><!-- Row -->
		
		{% else%}
                        <div role="alert" class="alert alert-danger"> 
						<strong>No hay documentos cargados</strong> 
					</div>
                    {%endif%}
        </div><!-- Column -->
        
	</div><!-- Row -->	
		</div><!-- Container -->
	</div><!-- Page Default -->
</div><!-- Page Main -->

{% endblock content %}