{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}
{% block content %}
<div class="page-header sm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Page Header Wrapper -->
				<div class="page-header-wrapper">
					<!-- Title & Sub Title -->
					<h5 class="title">Encuesta - {{object.titulo}}</h5>
				</div><!-- Page Header Wrapper -->
			</div><!-- Coloumn -->
		</div><!-- Row -->
	</div><!-- Container -->
</div>
<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<!-- Page Content -->
				<div class="col-md-9">
					<div class="row">
						<!-- Blog Column -->
						<div class="col-xs-12 blog-single">
							<div class="blog-single-wrap">
								<!-- Blog Detail Wrapper -->
								
								<div class="blog-single-details">
									
									{%csrf_token%}
									<!-- Blockquote Wrapper -->
									{% for pregunta in object.pregunta_set.all %}
										<div class="quote-wrap">
											<blockquote>		
												<p>{{pregunta.pregunta}}</p>
												<form method="POST" action="{% url 'Encuesta:ajax_vote' object.id %}" id="encuesta_form">
												{% for item in pregunta.item_set.all %}
												
													<div class="form-check" >
														  <label class="form-check-label" for="{{ item.id }}">
														    <input class="form-check-input check-input" type="radio" name="item" id="check{{ item.id }}" value="{{ item.id }}">
														    {{ item.value }}
														  </label>
														</div>
														
												{% endfor %}
												
											</blockquote>
										</div><!-- Blockquote Wrapper -->
										</form>
									{% endfor %}

									<ul class="blog-meta">
										<a class="btn" href="{% url 'Encuesta:encuesta_result' object.id %}"> Enviar Encuesta</a>
										<li><i class="fa fa-calendar-o"></i> {{object.fecha}}</li>
										{% if object.area %}
										<li><i class="fa fa-folder"></i> {{object.area}}</li>
                                		{% endif %}
										
									</ul><!-- Blog Meta -->
									<!-- Blog Description -->
						
									
									
								</div><!-- Blog Detail Wrapper -->

								
							</div><!-- Blog Wrapper -->

							
						</div><!-- Column -->
					</div><!-- Row -->
				</div><!-- Column -->
				<div class="col-md-3">
					<!-- aside -->
					<aside class="sidebar">
						
						<!-- Widget -->
						<div class="widget">
							<h5 class="widget-title">Areas<span></span></h5>
							<ul class="go-widget">
								{% for a in areas %}
									<li><a href="{% url 'Area:encuestaArea' a.id %}">{{a.nombre}}<span class="badge"></span></a></li>
								{% endfor %}
							</ul>
						</div><!-- Widget -->
					</aside><!-- aside -->	
				</div><!-- Column -->
			</div><!-- Row -->
		</div><!-- Container -->

	</div><!-- Page Default -->
</div><!-- Page Main -->
{% endblock content %}
{% block extra_js%}

<script type="text/javascript">

var vote_url = '{% url "Encuesta:ajax_vote" object.id %}';
var result_url = '{% url "Encuesta:encuesta_result" object.id %}';
document.addEventListener('DOMContentLoaded', function(){
    function showResults() {
        $.get(result_url, function(data) {
            $("#poll_container").html(data);
        });
    }
    $("#poll_send").click(function() {
        var item = $('#encuesta_form input[name=item]:checked').val();
        if (typeof item === "undefined") {
            alert("Please, select an answer");
            return false;
        }
        $.get(vote_url, {item: item}, function() {
            showResults();
        });
        return false;
    });
});


$(document).ready(function() {           
        $('.quote-wrap .check-input').click(function() {  
        	var x = $(this).attr("value");   
        	 $("#check"+x).attr('checked', true);
        	console.log(x);                   
                $.ajax({ 
                    data:{'id_item':x}, 
                    url : "{% url 'Encuesta:seleccionOpcion' %}",
                    type: 'get',
                	cache: false,
                    success: function(data) { 
                        console.log(data);
                    },
                    fail: function (data) {
                      console.log("Error: ");
                  }
                }); 
                
            

        }); 
    });
</script>

{% endblock extra_js%}