{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}
{% load encuesta_tags %}
{% block content %}
<div class="page-header sm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Page Header Wrapper -->
				<div class="page-header-wrapper">
					<!-- Title & Sub Title -->
					<h5 class="title">Encuestas - {{object.titulo}}</h5>
				</div><!-- Page Header Wrapper -->
			</div><!-- Coloumn -->
		</div><!-- Row -->
	</div><!-- Container -->
</div>
<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<!-- Page Content -->
				<div class="col-md-9">
					<div class="row">
						<!-- Blog Column -->
						<div class="col-xs-12 blog-single">
							<div class="blog-single-wrap">
								<!-- Blog Detail Wrapper -->
								<div class="blog-single-details">
								{% for pregunta in object.pregunta_set.all %}
								<div class="quote-wrap">
									<blockquote>	
										<p>{{pregunta.pregunta}}</p>
										
										<!-- Blog Description -->
										{% for item in pregunta.item_set.all %}
											<h6 class="progress-tille">{{ item.value }}:</h6>
												<div class="progress bg-verydark" data-height="5" style="line-height: 5px; height: 5px;">
													<div data-percentage="{% percentage pregunta item %}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar" style="width: {% percentage pregunta item %}%;">
														<span class="progress-label">{% percentage pregunta item %}%</span>
													</div>
											</div><!-- Progress Bar -->
										{% endfor %}
										<br>
										</blockquote>
									</div><!-- Blockquote Wrapper -->
									{% endfor %}
									<ul class="blog-meta">
											<li><i class="fa fa-calendar-o"></i> {{object.fecha}}</li>
											{% if object.area %}
											<li><i class="fa fa-folder"></i> {{object.area}}</li>
	                                		{% endif %}
											<li><p>Total de votos :<b>{{ object.get_vote_count }}</b></p></li>
										</ul><!-- Blog Meta -->
								</div><!-- Blog Detail Wrapper -->
							</div><!-- Blog Wrapper -->

							
						</div><!-- Column -->
					</div><!-- Row -->
				</div><!-- Column -->
				<div class="col-md-3">
					<!-- aside -->
					<aside class="sidebar">
						
						<!-- Widget -->
						<div class="widget">
							<h5 class="widget-title">Areas<span></span></h5>
							<ul class="go-widget">
								{% for a in areas %}
									<li><a href="{% url 'Area:encuestaArea' a.id %}">{{a.nombre}}<span class="badge"></span></a></li>
								{% endfor %}
							</ul>
						</div><!-- Widget -->
					</aside><!-- aside -->	
				</div><!-- Column -->
			</div><!-- Row -->
		</div><!-- Container -->

	</div><!-- Page Default -->
</div><!-- Page Main -->
{% endblock content %}
{% block extra_js%}

{% endblock extra_js%}