{% extends "admin/base.html" %}

{% block title %}{{ title }} | Unitan{% endblock %}

{% block bran-logo %}
<h1 class="page-title">Toast Driven Admin</h1>
{% endblock %}

{% block nav-global %}fdfdf{% endblock %}

{% block extrastyle %}
<style>
    .admin-appicon-auth:before {
        content: "\e8d3";
    }

    .admin-appicon-Area:before {
        content: "\e335";
    }

    .admin-appicon-Novedad:before {
        content: "\e060";
    }

    .admin-appicon-Evento:before {
        content: "\e8df";
    }

    .admin-appicon-Sede:before {
        content: "\e55f";
    }

    .admin-appicon-Encuesta:before {
        content: "\e896";
    }

    .admin-appicon-documentos:before {
        content: "\e24d";
    }

    .admin-appicon-usuarios:before {
        content: "\e8a6";
    }

    .admin-modelicon-auth-user:before {
        content: "\e7fd";
    }
</style>
{% endblock %}