<div id="post-comment" class="post-block post-comments clearfix">
						<h4 class="title-simple">Comments : </h4>
						<!-- Comments -->
						<ul class="comments">
							
							
							<!-- Comment -->
							<li>
								<div class="comment">
									<div class="img-thumbnail">
										<img src="images/default/thumb-04.jpg" alt="" class="avatar img-responsive" height="80" width="80">
									</div>
									<div class="comment-block">
										<div class="comment-arrow"></div>
										<span class="comment-by">
											<strong>John Doe</strong>
											<span class="pull-right">
												<span> <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
											</span>
										</span><!-- Comment By -->
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
										<span class="date pull-right">January 12, 2013 at 1:38 pm</span>
									</div><!-- Comment Block -->
								</div>
							</li><!-- Comment -->
							<!-- Comment -->
							<li>
								<div class="comment">
									<div class="img-thumbnail">
										<img src="images/default/thumb-05.jpg" alt="" class="avatar img-responsive" height="80" width="80">
									</div>
									<div class="comment-block">
										<div class="comment-arrow"></div>
										<span class="comment-by">
											<strong>John Doe</strong>
											<span class="pull-right">
												<span> <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
											</span>
										</span><!-- Comment By -->
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
										<span class="date pull-right">January 12, 2013 at 1:38 pm</span>
									</div><!-- Comment Block -->
								</div><!-- Comment -->
							</li>
						</ul><!-- Comments Full -->
					</div>

							<h4>Comentar : </h4>
							<form>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="exampleInputName" placeholder="Name">
										</div>
										<div class="form-group textarea-message ">
											<textarea name="contact_message" class="textarea-message form-control" placeholder="Message" rows="8" ></textarea>
										</div>
										<button type="submit" class="btn">Submit</button>
									</div><!-- Column -->
								</div><!-- Row -->
							</form><!-- Post Comment Form -->