{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}
{% block content %}
<div class="page-header sm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Page Header Wrapper -->
				<div class="page-header-wrapper">
					<!-- Title & Sub Title -->
					<h5 class="title">Novedades</h5>
				</div><!-- Page Header Wrapper -->
			</div><!-- Coloumn -->
		</div><!-- Row -->
	</div><!-- Container -->
</div>
<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<!-- Page Content -->
				<div class="col-md-9">
					<div class="row">
						<!-- Blog Column -->
						<div class="col-xs-12 blog-single">
							<div class="blog-single-wrap">
								{% if object.imagen %}
							
									<div class="blog-img-wrap">
									<img width="1920" height="960" src="{{object.imagen.url}}" class="img-responsive" alt="Event">
									</div>
                                {% endif %}
								<!-- Blog Detail Wrapper -->
								<div class="blog-single-details">
									<h4>{{object.titulo}}</h4>
									<ul class="blog-meta">
										<li><i class="fa fa-calendar-o"></i> {{object.fecha}}</li>
										{% if object.sede %}
										<li><i class="fa fa-map-marker"></i> {{object.sede}}</li>
                                		{% endif %}
                                		{% if object.area %}
                                		<li><i class="fa fa-folder"></i> {{object.area}}</li>
                                		{% endif %}
										
									</ul><!-- Blog Meta -->
									<!-- Blog Description -->
									<p>{{object.descripcion}}</p>
								</div><!-- Blog Detail Wrapper -->
							</div><!-- Blog Wrapper -->

		
						</div><!-- Column -->
					</div><!-- Row -->
				</div><!-- Column -->
				<div class="col-md-3">
					<!-- aside -->
					<aside class="sidebar">
						
						<!-- Widget -->
						<div class="widget">
							<h5 class="widget-title">Areas<span></span></h5>
							<ul class="go-widget">
								{% for a in areas %}
									<li><a href="{% url 'Area:novedadesArea' a.id %}">{{a.nombre}}<span class="badge"></span></a></li>
								{% endfor %}
							</ul>
						</div><!-- Widget -->
					</aside><!-- aside -->	
					{% if object.pdf%}
					{% endif%}
				</div><!-- Column -->
			</div><!-- Row -->
		</div><!-- Container -->

	</div><!-- Page Default -->
</div><!-- Page Main -->
{% endblock content %}