{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!-- Page Header -->
<div class="page-header sm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Page Header Wrapper -->
				<div class="page-header-wrapper">
					<!-- Title & Sub Title -->
					<h5 class="title">Eventos Generales</h5>
				</div><!-- Page Header Wrapper -->
			</div><!-- Coloumn -->
		</div><!-- Row -->
	</div><!-- Container -->
</div>

<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<!-- Page Content -->
				
				<div class="col-md-9">
				{% if Eventos %}
					<ul class="row">
				{% for e in Eventos%}
                    {% if e.imagen %}
                    <li class="col-xs-12 event-list-wrap">
					<!-- Blog Wrapper -->
						<div class="row">
							<div class="col-sm-5">
                                        <div class="event-img-wrap">
									<img width="600" height="220" src="{{e.imagen.url}}" class="img-responsive" alt="Event">
									</div>
								<!-- Blog Image  Wrapper -->
							</div><!-- Blog Wrapper -->
							<!-- Blog Detail Wrapper -->
							<div class="col-sm-7">
									<div class="event-details">
										<h5>{{e.titulo}}</h5>
										<ul class="events-meta">
											<li><i class="fa fa-calendar-o"></i>{{e.fecha}}</li>
											<li><i class="fa fa-map-marker"></i> {{e.sede.nombre}}</li>
										</ul><!-- Event Meta -->
										<p>{{e.descripcion}}</p>
										<!--<a href="#" class="btn">Detalle</a>-->
									</div><!-- Event Meta -->
								</div>	<!-- Event details -->
						</div><!-- Blog Wrapper -->
					<!-- Divider -->
					<hr class="md">
				</li><!-- Column -->
				{% else%}
				<li class="col-xs-12 event-list-wrap">
					<!-- Blog Wrapper -->
						<div class="row">
							<!-- Blog Detail Wrapper -->
							<div class="col-sm-12">
									<div class="event-details">
										<h5>{{e.titulo}}</h5>
										<ul class="events-meta">
											<li><i class="fa fa-calendar-o"></i>{{e.fecha}}</li>
											<li><i class="fa fa-map-marker"></i> {{e.sede.nombre}}</li>
										</ul><!-- Event Meta -->
										<p>{{e.descripcion}}</p>
										<a class="btn" href="{% url 'Evento:detalle_evento' e.id %}">Leer mas</a>
									</div><!-- Event Meta -->
								</div>	<!-- Event details -->
						</div><!-- Blog Wrapper -->
					<!-- Divider -->
					<hr class="md">
				</li><!-- Column -->
				{% endif %}
               {%endfor%}
               {% include 'pagination/pagination.html' %}
				
			</ul><!-- Row -->
		
		{% else%}
                        <div role="alert" class="alert alert-danger"> 
						<strong>No hay eventos cargados</strong> 
					</div>
                    {%endif%}
        </div><!-- Column -->

		<div class="col-md-3">
					<!-- aside -->
					<aside class="sidebar">
						
						<!-- Widget -->
						<div class="widget">
							<h5 class="widget-title">Areas<span></span></h5>
							<ul class="go-widget">
								{% for a in areas %}
									<li><a href="{% url 'Area:eventosArea' a.id %}">{{a.nombre}}<span class="badge"></span></a></li>
								{% endfor %}
							</ul>
						</div><!-- Widget -->
					</aside><!-- aside -->	
					<aside class="sidebar">
						
						<!-- Widget -->
						<div class="widget">
							<h5 class="widget-title">Sedes<span></span></h5>
							<ul class="go-widget">
								{% for s in sedes %}
									<li><a href="{% url 'Sede:eventosSede' s.id %}">{{s.nombre}}<span class="badge"></span></a></li>
								{% endfor %}
							</ul>
						</div><!-- Widget -->
					</aside><!-- aside -->	
				</div><!-- Column -->
	</div><!-- Row -->	
		</div><!-- Container -->
	</div><!-- Page Default -->
</div><!-- Page Main -->

{% endblock content %}