{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Basic -->
		<meta charset="utf-8">
		<title>
        {% block subtitle_content %}
            {% block subtitle %}{% endblock subtitle%}
            {% ifnotequal request.path '/' %} — {% endifnotequal %}
        {% endblock subtitle_content %}
        {% block title %}Unitan Interno{% endblock title %}
    </title>
		<meta name="keywords" content="Universh - Material Education, Events, News, Learning Centre & Kid School MultiPurpose HTML5 Template" />
		<meta name="description" content="Universh - Material Education, Events, News, Learning Centre & Kid School MultiPurpose HTML5 Template">
		<meta name="author" content="glorythemes.in">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'images/default/favicon2.png'%}">
		<!-- Web Fonts  -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' 
		rel='stylesheet' type='text/css'>

		<!-- Lib CSS -->
		<link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css'%}" rel="stylesheet" media="screen,projection">
		<link rel="stylesheet" href="{% static 'css/lib/animate.min.css'%}" rel="stylesheet" media="screen,projection">
		<link rel="stylesheet" href="{% static 'css/lib/font-awesome.min.css'%}" rel="stylesheet" media="screen,projection">
		<link rel="stylesheet" href="{% static 'css/lib/univershicon.css'%}" rel="stylesheet" media="screen,projection">
		<link rel="stylesheet" href="{% static 'css/lib/owl.carousel.css'%}" rel="stylesheet" media="screen,projection">
		<link rel="stylesheet" href="{% static 'css/lib/prettyPhoto.css'%}" rel="stylesheet" media="screen,projection">
		<link rel="stylesheet" href="{% static 'css/lib/menu.css'%}" rel="stylesheet" media="screen,projection">
		<link rel="stylesheet" href="{% static 'css/lib/timeline.cs'%}" rel="stylesheet" media="screen,projection">
		
		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'css/theme.css'%}">
		<link rel="stylesheet" href="{% static 'css/theme-responsive.css'%}">
		
		<!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->
		
		<!-- Skins CSS -->
		<link rel="stylesheet" href="{% static 'css/skins/default.css'%}">
		
		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'css/custom.css'%}">
	</head>
<body>

<!-- Page Loader -->
<div id="pageloader">
	<div class="loader-inner">
		<img src="{% static 'images/default/preloader-color.gif'%}">
	</div>
</div><!-- Page Loader -->

<!-- Back to top -->
<a href="#0" class="cd-top">Top</a>

<!-- End Theme Panel Switcher -->

	
<!-- Header Begins -->	
<header id="header" class="default-header colored flat-menu">
	<div class="container">
		<div class="logo">
			<a  href="{% url 'Novedad:listarNovedades' %}">
				 <img alt="Universh" width="150" height="56" data-sticky-width="150" data-sticky-height="28" src="{% static 'images/unitan1.jpg'%}">
			</a>
		</div>
		<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
			<i class="fa fa-bars"></i>
		</button>
	</div>
	<div class="navbar-collapse nav-main-collapse collapse">
		<div class="container">
			<nav class="nav-main mega-menu">
				<ul class="nav nav-pills nav-main" id="mainMenu">
					<li class="dropdown">
						<a class="dropdown-toggle" href="{% url 'Novedad:listarNovedades' %}">
							Novedades
						</a>
					</li>

					<li class="dropdown">
						<a class="dropdown-toggle" href="{% url 'Documento:listarDocumentos' %}">
							Documentos
						</a>
					</li>
					
					<li class="dropdown">
						<a class="dropdown-toggle" href="{% url 'Evento:listarEventos' %}">
							Eventos
						</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="{% url 'Encuesta:listarEncuestas' %}">
							Encuestas
						</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="{% url 'institucional' %}">
							Institucional
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header><!-- Header Ends -->
		
<!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
       {% block content %}
          
      {% endblock content %}
      <!-- END CONTENT -->

      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START RIGHT SIDEBAR NAV-->

<!-- Footer -->
<footer id="footer" class="footer-3">
	<!-- Main Footer -->
	<div class="main-footer widgets-dark typo-light">
		<div class="container">
			<!-- Footer top -->
			<div class="footer-top">
				<div class="row">
					<!-- Footer top logo -->
					<div class="col-sm-2">
						<a href="index.html" class="logo">
							<img width="211" height="40" alt="Universh Education HTML5 Website Template" class="img-responsive" src="{% static 'images/normas2.jpg'%}">
							<p class="slogan">Comunicacion interna</p>
						</a>
					</div><!-- Footer top logo -->
					
					<!-- Footer top left Content -->
					<div class="col-sm-10 footer-top-right text-right">
						<!-- Widget -->
						<div class="widget no-box">
							<!-- Counter
							<div class="count-widget inline">
								<span class="count-number" data-count="250"><span class="counter"></span></span>
								<span class="title">Visitas</span>
								
							</div> Counter -->
							<!-- Counter -->
							<div class="count-widget inline">
								<span class="count-number" data-count="1923"><span class="counter"></span></span>
								<span class="title">Visitas</span>
							</div><!-- Counter -->
							<!-- Counter -->
							<div class="count-widget inline">
								<span class="count-number" data-count="3"><span class="counter"></span></span>
								<span class="title">Sedes</span>
							</div><!-- Counter -->
							
							
						</div><!-- Widget -->
					</div><!-- Count -->
					
				</div><!-- Footer top row -->
			</div><!-- Footer top -->
		</div><!-- Container -->		
	</div><!-- Main Footer -->
	
	<!-- Footer Copyright -->
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<!-- Copy Right Content -->
				<div class="col-md-6">
					<p>&copy;Todos los derechos reservados. | By <a href="https://www.facebook.com/Saint-Web-2247623195490756/?modal=admin_todo_tour" title="glorythemes">BlasCG.SaintWeb</a></p>
				</div><!-- Copy Right Content -->
				<!-- Copy Right Content -->
				<div class="col-md-6">
					<nav class="sm-menu">
						<ul>
							<li><a href="http://www.unitan.net/">Sitio web</a></li>
						</ul>
					</nav><!-- Nav -->
				</div><!-- Copy Right Content -->
			</div><!-- Footer Copyright -->
		</div><!-- Footer Copyright container -->
	</div><!-- Footer Copyright -->
</footer>
<!-- Footer -->

<!-- library -->
<script src="{% static 'js/lib/jquery.js' %}"></script>
<script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/bootstrapValidator.min.js' %}"></script>
<script src="{% static 'js/lib/jquery.appear.js' %}"></script>
<script src="{% static 'js/lib/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/lib/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/lib/countdown.js' %}"></script>
<script src="{% static 'js/lib/counter.js' %}"></script>
<script src="{% static 'js/lib/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/lib/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'js/lib/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'js/lib/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/lib/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/lib/menu.js"></script>
<script src="{% static 'hitcount/hitcount-jquery.js' %}"></script>

<script src="{% static 'js/lib/modernizr.js' %}"></script>
<!-- Theme Base, Components and Settings -->
<script src="{% static 'js/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'js/custom.js' %}"></script>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<!-- or -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

{% block extra_js%}
    {% endblock extra_js%}

</body>
</html>