{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<section class="relative bg-light typo-dark parallax-bg bg-cover overlay white sm" data-background="{% static 'images/fuego.jpg'%}" data-stellar-background-ratio="0.5" style="background-image: url(&quot;{% static 'images/fuego.jpg'%}&quot;); background-position: 0px -50.5px;">
		<div class="container parent-has-overlay">
			<div class="row">
				<div class="col-md-12">
					<div class="title-container margin-none text-left">
						<div class="title-wrap">
							<h2 class="title">Institucional</h2>
							<span class="separator dot-separator">...</span>
						</div>							
					</div><!-- Name -->
				</div><!-- Column -->
			</div><!-- Row -->
		</div><!-- Container -->
	</section>

<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">
		<!-- Container -->
		<div class="container">
			<div class="col-sm-12">
					<!-- Gallery Single Details -->
					<div class="gallery-single-detail">
					<div class="row"></div>
						<div class="col-sm-6">
						<h4>Política de Calidad </h4>
						
						<!-- Description -->
						<p>UNITAN SAICA lidera desde hace más de 110 años la industria del tanino vegetal y sus derivados. Quienes integramos UNITAN tenemos el compromiso de:</p>
						
						<p>• Conseguir y mantener la confianza de nuestros clientes.</p>

						<p>• Afianzar la imagen, prestigio y calidad de nuestros productos y servicios.</p>
						<p>• Investigar y desarrollar nuevas aplicaciones.</p>
						<p>• Lograr el crecimiento sostenido de nuestra empresa.</p>
						<p>• Contribuir al desarrollo regional y de nuestro país.</p>
						<br>
						<h5><b>Por ello, nuestro esfuerzo debe enfocarse en:</b></h5>
						
						<!-- Description -->
						<h5><b>GENERAR Y SUSTENTAR RELACIONES DE LARGO PLAZO:</b></h5>
						<p>• Acrecentando en todos nuestros usuarios la confianza de que nuestros productos y servicios cumplen cabalmente con las especificaciones acordadas.</p>
						<p>• Estando atentos a nuevas inquietudes y requerimientos para ofrecer  productos innovadores que aporten soluciones viables y ayuden a nuestros clientes a ser más competitivos.</p>
						<p>• Afianzando nuestra red comercial a fin de brindar mejor servicio y mayor satisfacción a nuestros clientes.</p>

						<h5><b>REALIZAR UN TRABAJO DEL QUE NOS SINTAMOS ORGULLOSOS :</b></h5>
						<p>• Utilizando los métodos de prevención, planificación, mejora continua y capacitación como herramientas de superación.</p>
						<p>•  Fomentando la conciencia por la responsabilidad en cada actividad.</p>
						<p>• Manteniendo a toda la organización involucrada en el cumplimiento de esta Política.</p>
						<p>• Haciendo de la Calidad, la Seguridad y el cumplimiento de las Normas Ambientales las bases de nuestra gestión.</p>
						<p>De esta forma seguiremos construyendo UNA TRADICIÓN CON FUTURO.</p>

						</div>
						</div>
					</div><!-- Gallery Single Details -->
				</div>
		</div><!-- Container -->
	</div><!-- Page Default -->
</div><!-- Page Main -->

{% endblock content %}

{% block extra_js%}

<script type="text/javascript">

</script>

{% endblock extra_js%}